* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
}

nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.img-logo {
    max-width: 568px;
    width: 100%;
    height: auto;
    display: block;
}

section {
    display: block;
    margin-left: 0;
    max-width: 560px;
}

section h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    width: 513px;
    height: 122px;

}


section h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;

}

section p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;

}


.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    display: inline-block;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 100px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba 0, 0, 2, 0, 25);
}

.button-main {
    background: #ADFF00;
    width: 239px;
    height: 64px;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 2, 0.25));
    font-weight: 700;
    line-height: 34px;
    margin-top: 20px;
    margin: 10px;

}

@media (max-width:430px) {
    header {
        flex-direction: column;
        gap: 12px;
        align-items: center;
        padding: 12px 16px;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

    }

    section h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 90%;
        margin: 10px;
    }
    section h2 {
        margin: 10px;
    }

    section p {
        font-size: 16px;
        line-height: 24px;
        max-width: 90%;
        margin: 10px;

    }

    img {
        max-width: 80%;
        margin: 0 auto;
    }


}